  <div class="container-search-filters">
    <div class="title"><%= title -%></div>
    <% for f in filters %>  
      <div class="filter">
        <%= f -%>
        <span>
          <%= render :partial => 'button-cancel', :locals => { :href=>"", :label=>"x" } %>
        </span>
      </div>
    <% end %>  
    <% for sf in sub_filters %>  
      <div class="subfilter">
        <a href=""><%= sf[:name] -%></a>
        <span class="count"><%= sf[:count] -%></span>
      </div>
    <% end %>
  </div>
