<p class="font-small"><%= link_to 'Style Guide' %> >> Buttons</p>
<h1 class="font-xbig">Style Guide: Buttons</h1>

<%= render :partial => 'button-primary', :locals => { :href=>"", :label=>"button-primary" } %>

<br />

<%= render :partial => 'button-secondary', :locals => { :href=>"", :label=>"button-secondary" } %>

<br />

<%= render :partial => 'button-tertiary-normal', :locals => { :href=>"", :label=>"button-tertiary-normal" } %>

<br />
 
<%= render :partial => 'button-tertiary-small', :locals => { :href=>"", :label=>"button-tertiary-small" } %>
<br />
 
Name: button-cancel <%= render :partial => 'button-cancel', :locals => { :href=>"", :label=>"x" } %><br />
