<p class="font-small"><%= link_to 'Style Guide' %></p>
<h1 class="font-xbig">Style Guide</h1>


<b>Page Layouts</b>
<ul>
  <li /><%= link_to "Homepage", :guide => 'homepage' %>
  <li /><%= link_to "Search Page", :guide => 'search' %>
  <li /><%= link_to "Advanced Search Page", :guide => 'adv_search' %>
</ul>

<b>Higher Elements</b>
<ul>
  <li /><%= link_to "Forms", :guide => 'form' %>
  <li /><%= link_to "Widgets", :guide => 'widget' %>
</ul>

<b>Compound Elements</b>
<ul>
  <li /><%= link_to "Buttons", :guide => 'button' %>
  <li /><%= link_to "Boxes", :guide => 'box' %>
  <li /><%= link_to "Links", :guide => 'link' %>
</ul>

<b>Basic Elements</b>
<ul>
  <li /><%= link_to "Fonts", :guide => 'font' %>
  <li /><%= link_to "Colors", :guide => 'color' %>
</ul>

